#info-panel {
  position: fixed;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 175px;
  overflow-y: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 12px;
  z-index: 9999;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#info-panel button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: black;
}

#info-panel h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.item-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  border-radius: 6px;
  object-fit: cover;
}
